In [21]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\dienthoai_maytinhbang\dienthoai"
os.listdir(path)

['.ipynb_checkpoints',
 'oppo',
 'samsung',
 'tk_dtsmartphone.ipynb',
 'tk_dtsmartphone.py',
 'tk_dtsmartphone_10124.py',
 'tk_dtsmartphone_all.ipynb',
 'tk_dtsmartphone_apple.csv',
 'tk_dtsmartphone_bphone.csv',
 'tk_dtsmartphone_itel.csv',
 'tk_dtsmartphone_masstel.csv',
 'tk_dtsmartphone_nokia.csv',
 'tk_dtsmartphone_Nubia.csv',
 'tk_dtsmartphone_Oneplus.csv',
 'tk_dtsmartphone_oppo_all.csv',
 'tk_dtsmartphone_oppo_all.ipynb',
 'tk_dtsmartphone_Oukitel.csv',
 'tk_dtsmartphone_Redmagic.csv',
 'tk_dtsmartphone_redmi.csv',
 'tk_dtsmartphone_sony.csv',
 'tk_dtsmartphone_ss_all.csv',
 'tk_dtsmartphone_ss_all.ipynb',
 'tk_dtsmartphone_TCL.csv',
 'tk_dtsmartphone_Ulefone.csv',
 'tk_dtsmartphone_vivo.csv',
 'tk_dtsmartphone_xiaomi_all.csv',
 'tk_dtsmartphone_xiaomi_all.ipynb',
 'tk_dtsmartphone_ZTE.csv',
 'xiaomi']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_dtsmartphone_all.csv", index="False")

In [5]:
df_all.head()

,title,price,link_item,index,discount,sales,Unnamed: 0
0,iPhone 15 Pro Max,31.990.000₫,https://tiki.vn/apple-iphone-15-pro-max-p27197...,1,-4%,Đã bán 691,NaN
1,Apple iPhone 13,15.490.000₫,https://tiki.vn/apple-iphone-13-hang-chinh-han...,2,-38%,Đã bán 5k+,NaN
2,iPhone 15 Pro 128GB Titan Tự Nhiên,26.990.000₫,https://tiki.vn/apple-iphone-15-pro-p271972435...,3,-4%,Đã bán 242,NaN
3,iPhone 15,20.990.000₫,https://tiki.vn/apple-iphone-15-p271966786.htm...,4,-2%,Đã bán 303,NaN
4,iPhone 15 Plus,23.990.000₫,https://tiki.vn/apple-iphone-15-plus-p27196737...,5,-8%,Đã bán 133,NaN

1. Xử lý dữ liệu

In [10]:
df_all = df_all.drop('Unnamed: 0', axis=1)
df_all.head()

,title,price,link_item,discount,sales
0,iPhone 15 Pro Max,31.990.000₫,https://tiki.vn/apple-iphone-15-pro-max-p27197...,-4%,Đã bán 691
1,Apple iPhone 13,15.490.000₫,https://tiki.vn/apple-iphone-13-hang-chinh-han...,-38%,Đã bán 5k+
2,iPhone 15 Pro 128GB Titan Tự Nhiên,26.990.000₫,https://tiki.vn/apple-iphone-15-pro-p271972435...,-4%,Đã bán 242
3,iPhone 15,20.990.000₫,https://tiki.vn/apple-iphone-15-p271966786.htm...,-2%,Đã bán 303
4,iPhone 15 Plus,23.990.000₫,https://tiki.vn/apple-iphone-15-plus-p27196737...,-8%,Đã bán 133

In [12]:
df_all

,title,price,link_item,discount,sales
0,iPhone 15 Pro Max,31.990.000₫,https://tiki.vn/apple-iphone-15-pro-max-p27197...,-4%,Đã bán 691
1,Apple iPhone 13,15.490.000₫,https://tiki.vn/apple-iphone-13-hang-chinh-han...,-38%,Đã bán 5k+
2,iPhone 15 Pro 128GB Titan Tự Nhiên,26.990.000₫,https://tiki.vn/apple-iphone-15-pro-p271972435...,-4%,Đã bán 242
3,iPhone 15,20.990.000₫,https://tiki.vn/apple-iphone-15-p271966786.htm...,-2%,Đã bán 303
4,iPhone 15 Plus,23.990.000₫,https://tiki.vn/apple-iphone-15-plus-p27196737...,-8%,Đã bán 133
...,...,...,...,...,...
89,Điện thoại Xiaomi Redmi 10C 4/128GB - Hàng chí...,2.850.000₫,https://tiki.vn/dien-thoai-xiaomi-redmi-10c-4-...,NaN,NaN
90,Điện Thoại Xiaomi Redmi 9A (2GB/32GB)- Đã kích...,2.088.000₫,https://tiki.vn/dien-thoai-xiaomi-redmi-9a-2gb...,NaN,NaN
91,Điện Thoại Xiaomi Redmi Note 12 Pro 8GB/256GB ...,6.489.000₫,https://tiki.vn/dien-thoai-xiaomi-redmi-note-1...,NaN,NaN
0,"Điện thoại ZTE Blade A52 4GB l 64GB, Pin 5000m...",3.490.000₫,https://tiki.vn/dien-thoai-zte-blade-a52-4gb-l...,NaN,Đã bán 1
1,Điện thoại ZTE Blade V40 Vita (ZTE 8045) - MH ...,4.290.000₫,https://tiki.vn/dien-thoai-zte-blade-v40-vita-...,NaN,NaN

In [17]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0     31990000
1     15490000
2     26990000
3     20990000
4     23990000
        ...
89     2850000
90     2088000
91     6489000
0      3490000
1      4290000
Name: price, Length: 469, dtype: int32

In [44]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

In [55]:
# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0      691.0
1     5000.0
2      242.0
3      303.0
4      133.0
       ...
89       NaN
90       NaN
91       NaN
0        1.0
1        NaN
Name: sales, Length: 469, dtype: float64

In [56]:
df_all

,title,price,link_item,discount,sales
0,iPhone 15 Pro Max,31990000,https://tiki.vn/apple-iphone-15-pro-max-p27197...,-4%,691.0
1,Apple iPhone 13,15490000,https://tiki.vn/apple-iphone-13-hang-chinh-han...,-38%,5000.0
2,iPhone 15 Pro 128GB Titan Tự Nhiên,26990000,https://tiki.vn/apple-iphone-15-pro-p271972435...,-4%,242.0
3,iPhone 15,20990000,https://tiki.vn/apple-iphone-15-p271966786.htm...,-2%,303.0
4,iPhone 15 Plus,23990000,https://tiki.vn/apple-iphone-15-plus-p27196737...,-8%,133.0
...,...,...,...,...,...
89,Điện thoại Xiaomi Redmi 10C 4/128GB - Hàng chí...,2850000,https://tiki.vn/dien-thoai-xiaomi-redmi-10c-4-...,NaN,NaN
90,Điện Thoại Xiaomi Redmi 9A (2GB/32GB)- Đã kích...,2088000,https://tiki.vn/dien-thoai-xiaomi-redmi-9a-2gb...,NaN,NaN
91,Điện Thoại Xiaomi Redmi Note 12 Pro 8GB/256GB ...,6489000,https://tiki.vn/dien-thoai-xiaomi-redmi-note-1...,NaN,NaN
0,"Điện thoại ZTE Blade A52 4GB l 64GB, Pin 5000m...",3490000,https://tiki.vn/dien-thoai-zte-blade-a52-4gb-l...,NaN,1.0
1,Điện thoại ZTE Blade V40 Vita (ZTE 8045) - MH ...,4290000,https://tiki.vn/dien-thoai-zte-blade-v40-vita-...,NaN,NaN

In [66]:
df_all["price"] = df_all["price"].apply(lambda x: int(x.replace(',', '')) * 2)

In [67]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0     4.421018e+10
1     1.549000e+11
2     1.306316e+10
3     1.271994e+10
4     6.381340e+09
          ...
89             NaN
90             NaN
91             NaN
0     6.980000e+06
1              NaN
Name: revenue, Length: 469, dtype: float64

In [71]:
df_all = df_all.reset_index(drop=True)

In [78]:
total = df_all["revenue"].sum()

In [81]:
df_all["category"] = "smartphone"

In [80]:
print("Tổng doanh số điện thoại smartphone: ", total)

Tổng doanh số điện thoại smartphone:  580586514000.0

In [83]:
df_all.to_csv("tk_dtsmartphone_all_ed.csv")